%p#notice= notice
%p
.wrap
  .main
    .box
      .main-title
        予定の詳細
    .plans
      .plans-menu
        .plans-menu-title
          タイトル
        .plans-menu-name
          = @blog.title
      .plans-time
        .plans-time-title
          予定日
        .plans-time-result
          = @blog.start_time.strftime("%Y年%m月%d日 %H:%M")
      .plans-content
        .plans-content-title
          内容
        .plans-content-result
          = @blog.content
      .plans-btn
        .plans-btn-edit
          = link_to '編集', edit_blog_path(@blog)
        .plans-btn-back
          = link_to '戻る', blogs_path






